doctype html
html
  head
    title Aman Dance Academy
    block script
    block style
  body
    nav#navbar
      
        ul
          div#logo
              img(src="/static/logo1.jpg", alt="logo")
              | Dance India
          li #[a(href="/") Home ]
          li #[a(href="/") About ]
          li #[a(href="contact") Contact Us]
          li #[a(href="/") Class info ]
          li #[a(href="/") Services]
    block content
      

    footer#footer 
        | Created by Aman. © 2022
