h1{
    text-align: center;
    margin: 8px;
    font-family: monospace;
    font-size: 50px;
}
.container::before{
    content: "";
    background: center /cover no-repeat url("/static/contactUsBg.jpg");
    position: absolute;
    top: 90px;
    z-index: -1;
    opacity: 0.5;
    width: 100%;
    height: 1056px;
}
input,select,textarea{
    font-size: 20px;
    outline: none;
    border: 4px solid #0271e0;
    resize: none;
}
.formClass{
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 8px;
    border-radius: 25px;
}
.formClass1{
    display: block;
    width: 50%;
    margin: 10px auto;
    padding: 8px;
    border-radius: 10px;
}
label{
    display: block;
    width: 50%;
    margin: 10px auto;
    padding: 8px;
    border-radius: 10px;
    font-size: 30px;

    font-family: cursive;
    font-weight: 800;
}
.buttons{
    display: flex;
    justify-content: center;
}
.btn{
    margin: 9px;
    font-size: 16px;
    font-weight: 800;
    border: none;
    background-color: #ecba78b3;
    width: 160px;
    border-radius: 25px;
    padding: 11px;
}
.btn:hover{
    background-color: #f89e27b3;
    cursor: pointer;

}